<!DOCTYPE html>
<html>
<head>
  <title>Simple Video Player</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>🎥 Welcome to the Video Player</h1>
  <p>Try these URLs:</p>
  <ul>
    <li><a href="/movie/507244">Movie Example</a></li>
    <li><a href="/tv/1399">TV Example</a></li>
  </ul>
</body>
</html>
